.user__wrapper {
    padding: 0;
}
.user__wrapper a {
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
} 
.btn-get {
    margin-top: 1rem;
    margin-left: 1rem;
}
.pl-1 {
    padding-left: 1rem;
}