.date__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.date__box {
    border: 1px solid black;
    margin: 0.5rem 1rem;
    padding: 10px;
}
.owner {
    padding-left: 1rem;
}

#observation {
    width: 97%;
    margin: 0 auto;
}
.textarea {
    border: 1px solid black;
    margin: 0.5rem 0rem;
    padding: 10px;
    width: 100%;
}

@media (max-width: 1500px) {
    .date__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .date__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .date__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .date__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}