nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}
.logo {
    background-color: lightgrey;
    border-radius: 5%;
    color: tomato;
    padding: 1rem;
}
ul.nav {
    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
}
ul.nav li {
    cursor: pointer;
}